/*
 * TMSAPI.PCL
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 12/20/2016
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using TMSAPI.PCL;
using TMSAPI.PCL.Utilities;
using TMSAPI.PCL.Http.Request;
using TMSAPI.PCL.Http.Response;
using TMSAPI.PCL.Http.Client;
using TMSAPI.PCL.Exceptions;
using TMSAPI.PCL.Models;

namespace TMSAPI.PCL.Controllers
{
    public partial class TrackingController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static TrackingController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static TrackingController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new TrackingController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// Get status of shipment
        /// </summary>
        /// <param name="referenceNumber">Required parameter: Shipment Id or Pro Number to look up shipment</param>
        /// <return>Returns the TRACKING response from the API call</return>
        public TRACKING GetShipmentStatus(string referenceNumber)
        {
            Task<TRACKING> t = GetShipmentStatusAsync(referenceNumber);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Get status of shipment
        /// </summary>
        /// <param name="referenceNumber">Required parameter: Shipment Id or Pro Number to look up shipment</param>
        /// <return>Returns the TRACKING response from the API call</return>
        public async Task<TRACKING> GetShipmentStatusAsync(string referenceNumber)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/Tracking/{ReferenceNumber}");

            //process optional template parameters
            APIHelper.AppendUrlWithTemplateParameters(_queryBuilder, new Dictionary<string, object>()
            {
                { "ReferenceNumber", referenceNumber }
            });


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" }
            };

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<TRACKING>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// Get status of multiple shipments at once
        /// </summary>
        /// <param name="trackingNumbers">Required parameter: Shipment Ids or Reference Numbers of Shipments to track</param>
        /// <return>Returns the List<TRACKING> response from the API call</return>
        public List<TRACKING> CreateGetStatusOfMultipleShipments(List<string> trackingNumbers)
        {
            Task<List<TRACKING>> t = CreateGetStatusOfMultipleShipmentsAsync(trackingNumbers);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// Get status of multiple shipments at once
        /// </summary>
        /// <param name="trackingNumbers">Required parameter: Shipment Ids or Reference Numbers of Shipments to track</param>
        /// <return>Returns the List<TRACKING> response from the API call</return>
        public async Task<List<TRACKING>> CreateGetStatusOfMultipleShipmentsAsync(List<string> trackingNumbers)
        {
            //the base uri for api requestss
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/Tracking/");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "content-type", "application/json; charset=utf-8" }
            };

            //append body params
            var _body = APIHelper.JsonSerialize(trackingNumbers);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.PostBody(_queryUrl, _headers, _body, Configuration.BasicAuthUserName, Configuration.BasicAuthPassword);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);
            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<List<TRACKING>>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

    }
} 